body{
    width: 100vw;
    position: relative;
}

/*******Header style**********/
.header-right{
    position: relative;
}
.mode-text{
    position: absolute;
    top: 10px;
    right: 40px;
}
.mode-btn{
    position: absolute;
    right: 30px;
    top: 30px;
}
.tool-btns{
    display: none;
    position: relative;
    top: 100px;
    right: 30px;
    padding-left: 50px;
}
/*Tool buttons*/
.tool-btn{
    width:  40px;
    height: 40px;
    border-radius: 100%;
    background-color:  Orange !important;
    border:  none ;
}
.tool-btn:focus{
    outline:  none;
}
.tool-btn:hover{
    cursor: pointer;
}

/* The diagram picture */
.main-content{
    width: 900px;
    margin: 50px auto;
    position: relative;
}

/* Popover styles */
.popover{
    max-width: 500px;
}
.popover-btn{
    position: relative;
    opacity: 0;
    position: absolute;
    border-radius:  14px;
    background-color: #31803f !important;
    border-color: #31803f;
    color: white;
    top: 0;
    right: 0;
}
.popover-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popover-btn:hover{
    cursor: pointer;
}
.popover-header{
    padding: 20px 15px;
}
.popover-btn.active{
    color: green;
    background-color: white !important;
    border: 2px solid green;
}
table td, table th{
    border: 1px solid black;
}
.popover-body{
    position: relative;
}
.popover-tool{
    position: absolute;
    top: 5px;
    right: 5px;
    color: blue;
    cursor: pointer;
}

/*Upload Form Style*/
.upload-form-container{
    background: white;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
}

.box-shadow{
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    box-shadow:  0px 5px 11px 0px rgba(0,0,0,0.18), 0px 4px 15px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 15px;
}
.close-upload, .close-add, .close-update{
    position: fixed;
    top: 8px;
    right: 8px;
    color: #ff2c37;
    border-radius: 100%;
    font-size:  30px;
    cursor: pointer;
}
.close-upload:hover{
    cursor: pointer;
}

.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select { font-size:10px; }
#newContent {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
}
#newContent #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
}
#editMode label { cursor: pointer; }

/*contentForm*/
#contentForm{
    display: none;
    position: absolute;
    width: 600px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    background-color: white;

}
.intLink { cursor: pointer; }
img.intLink { border: 0; }
/*#toolBar1 select { font-size:10px; }*/
#newContent, #newUpdateContent {
    width: 500px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
}

#newContent#sourceText, #contentUpdateForm#sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
}
#editMode label { cursor: pointer; }

/*contentUpdateForm*/
#contentUpdateForm{
    display:  none;
    position:  absolute;
    top: 20%;
    left:  50%;
    transform: translate(-50%, -20%);
    background-color: white;

}








/* Buttons'position */
/*.github{*/
    /*top: 15px;*/
    /*left: 70%;*/
/*}*/
/*.jenkins{*/
    /*top: 31%;*/
    /*left:25%;*/
/*}*/
/*.artifactory{*/
    /*top: 51%;*/
    /*left: 25%;*/
/*}*/
/*.base-infra{*/
    /*top: 25%;*/
    /*right: 22%;*/
/*}*/
/*.aws-account-info{*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*top: 20%;*/
    /*right: 38%;*/
    /*padding-bottom: 5px;*/
/*}*/
/*.appd{*/
    /*right: 0;*/
    /*bottom: 35%;    */
/*}*/
/*.optimist8{*/
    /*left: 70%;*/
    /*bottom: 0*/
/*}*/
